name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build with Buildozer
        uses: FarasAtWork/buildozer-action@v2
        with:
          buildozer_version: stable
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Final-WhatsApp-Update
          path: bin/*.apk
