name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # هذا السطر هو الذي كان يسبب المشكلة، قمت بتصحيحه لك الآن
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          buildozer_version: stable

      - name: Upload APK
        # تم تحديث الإصدار لتجنب التنبيهات الحمراء
        uses: actions/upload-artifact@v4
        with:
          name: Final-App-Package
          path: bin/*.apk
